<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>guestBook.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>23</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E59D9EE9254848F1000F7C45</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E59D9EFF254848F4000F7C45</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E59D9F0A254848F4000F7C45</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
