<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>353657292122-br4sn5dti0b71ttqutrf3eqkjjb1olna.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.353657292122-br4sn5dti0b71ttqutrf3eqkjjb1olna</string>
	<key>API_KEY</key>
	<string>AIzaSyCT0BPJXm-Squ6U45X96LIwCoxSHOCQRng</string>
	<key>GCM_SENDER_ID</key>
	<string>353657292122</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tomohiro.guestBook</string>
	<key>PROJECT_ID</key>
	<string>guestbook-311bf</string>
	<key>STORAGE_BUCKET</key>
	<string>guestbook-311bf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:353657292122:ios:aac28a1bc44f9d8aa39f63</string>
	<key>DATABASE_URL</key>
	<string>https://guestbook-311bf.firebaseio.com</string>
</dict>
</plist>